.animate-fadein {
  animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

:ng-deep .p-skeleton::after {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(13, 148, 136, 0.05),
    rgba(255, 255, 255, 0)
  ) !important;
}
