:host {
  --divider-bg: #ffffff;
}

:host-context(.app-dark) {
  --divider-bg: #042f2e;
}

:host ::ng-deep .p-divider-content {
  background-color: var(--divider-bg) !important;
}

:host ::ng-deep .p-inputtext {
    background-color: #f0fdfa !important;
    border-color: #2dd4bf !important;  
}

:host-context(.app-dark) ::ng-deep .p-inputtext {
    background-color: #03413f !important;
    color: #f0fdfa !important;
}
