:host {
  --divider-bg: #ffffff;
}

:host-context(.app-dark) {
  --divider-bg: #042f2e;
}

:host ::ng-deep .p-divider-content {
  background-color: var(--divider-bg) !important;
}

:host ::ng-deep .p-inputtext {
    background-color: #f0fdfa !important;
    border-color: #2dd4bf !important;
}

:host-context(.app-dark) ::ng-deep .p-inputtext {
    background-color: #03413f !important;
    color: #f0fdfa !important;
}

::ng-deep .p-checkbox-box {
  background-color: #f0fdfa ; /* Red background for unchecked state */
  border-color: #2dd4bf; /* Match border color */
}

/* Change the background color of the checked checkbox */
::ng-deep .p-checkbox-box.p-highlight {
  background-color: #f0fdfa ; /* Green background when checked */
  border-color: #2dd4bf; /* Match border color when checked */
}
:host-context(.app-dark) ::ng-deep .p-checkbox-box {
  background-color: #03413f; /* Red background for unchecked state */
  border-color: #f0fdfa; /* Match border color */
}

/* Change the background color of the checked checkbox */
:host-context(.app-dark)::ng-deep .p-checkbox-box.p-highlight {
  background-color: #03413f; /* Green background when checked */
  border-color: #f0fdfa; /* Match border color when checked */
}
