:host ::ng-deep .p-inputtext {
    background-color: #f0fdfa !important; 
    border-color: #2dd4bf !important;
    color: #134e4a !important;
}

:host-context(.app-dark) ::ng-deep .p-inputtext {
    background-color: #03413F !important; 
    color: #f0fdfa !important;
}

:host-context(.app-dark) ::ng-deep .p-inputtext:not(.border-red-400) {
    border-color: #188A7F !important;
}

:host ::ng-deep .p-inputtext.border-red-400 {
    border-color: #ef4444 !important;
}

/* الـ Divider */
:host { --divider-bg: #ffffff; }
:host-context(.app-dark) { --divider-bg: #042f2e; }
:host ::ng-deep .p-divider-content {
    background-color: var(--divider-bg) !important;
}

